html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  max-width:1000px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px 60px auto;
  justify-content: start;
  align-content:flex-start;
}

.container .header, .container .main {
  grid-column: 1 / -1;
}

table {
  width:100%;
}
